#wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	grid-gap: 10px;
	font-family: sans-serif;
	font-size: 12pt;
}

#title, #navigation, #options, #visualization {
	padding: 10px;
}

#title {
	background-color: #CCCCCC;
	grid-column: 1 / span 3;
	grid-row: 1;
	margin: auto;
}

#navigation {
	background-color: #CCFFFF;
	grid-column: 1;
	grid-row: 2;
}

#options {
	background-color: #FFCCFF;
	grid-column: 2;
	grid-row: 2;
}

#visualization {
	background-color: #FFFFCC;
	grid-column: 3;
	grid-row: 2;
}

#visualization > svg {
	border: 1px solid black;
}

#visualization > svg > text {
}

/* Head2Head */

#head2head {
	table-layout: fixed;
	width: fit-content;
	box-sizing: border-box;
	border: 1px solid black;
}

#head2head td {
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 16px;
}

#head2head th {
	text-align: center;
	width: 50px;
	font-size: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#head2head-movement {
	table-layout: fixed;
	width: fit-content;
	box-sizing: border-box;	
}

#head2head-movement td {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
	user-select: none;
}

#head2head-movement td.active:hover {
	background-color: aliceblue;
}


/* Games */

#games {
	border: 1px solid black;
	border-spacing: 0;
	box-sizing: border-box;
}

#games td, #games th {
	border: 1px solid black;
	padding: 10px;
}
#games img {
	vertical-align: middle;
}